<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-recorder"
    version="0.1.2">
    <name>nat-recorder</name>
    <description>Nat.js module: Recorder (record audio)</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,recorder,record,audio</keywords>
    <repo>https://github.com/natjs/weex-nat-recorder.git</repo>
    <issue>https://github.com/natjs/weex-nat-recorder/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatRecorder" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatRecorder" />
                 <param name="api" value="nat/recorder" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatRecorder.h"/>
         <source-file src="ios/WeexNatRecorder.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
             <feature name="RecorderModule">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.nat.weex.RecorderModule" />
                 <param name="api" value="nat/recorder" />
             </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
             <uses-permission android:name="android.permission.RECORD_AUDIO" />
             <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
             <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file
             src="android/RecorderModule.java"
            target-dir="src/com/alibaba/weex/nat/RecorderModule.java" />

        <framework src="com.nat:recorder:1.0.1" />
     </platform>

</plugin>
