<?xml version="1.0" encoding="UTF-8"?>headers

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-recorder"
    version="0.1.0">
    <name>nat-recorder</name>
    <description></description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,recorder</keywords>
    <repo>https://github.com/Natjs/weex-nat-recorder.git</repo>
    <issue>https://github.com/Natjs/weex-nat-recorder/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatRecorder" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatRecorder" />
                 <param name="api" value="nat/recorder" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatRecorder.h"/>
         <source-file src="ios/WeexNatRecorder.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
     </platform>

</plugin>
